.cptg-metabox .postbox .hndle {
	cursor: default;
}
.cptg-metabox .form-table th {
	width: 160px;
}

.error-cptg {
	display: none;
}

.ui-sortable tr:hover {
	cursor: move;
}
.ui-sortable tr.alternate {
	background-color: #F9F9F9;	
}
.ui-sortable tr.ui-sortable-helper {
	background-color: #F9F9F9;
	border-top: 1px solid #DFDFDF;
}

#cptg_code {
	width: 96%;
	height: 600px;
}

.widefat {
	margin-top: 6px;
}
